* {
    box-sizing: border-box;
    background-color: #222;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.dice-container {
    background-color: black;
    height: 300px;
    width: 300px;
}

.die {
    background-color: red;
    height: 40%;
    width: 40%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
}

.die>* {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: .1em;
}